{"openapi":"3.0.0","servers":[{"url":"https://api.interzoid.com"}],"info":{"version":"1.0.0","title":"Interzoid Global Page Load Performance API","description":"This API provides a timed, browser-simulated page load function (or a measured API call) from the specified geography using a server from that geography.","contact":{"name":"API Support","email":"support@interzoid.com","url":"https://www.interzoid.com"},"termsOfService":"https://www.interzoid.com/terms","license":{"name":"Interzoid license","url":"https://www.interzoid.com/license"}},"externalDocs":{"description":"API home page and documentation","url":"https://www.interzoid.com/services/globalpageload"},"paths":{"/globalpageload":{"get":{"tags":["Page Load Performance Time"],"summary":"Gets page load (or an API call) performance from a specified global geography such as Paris, Tokyo, Virginia, Mumbai, Frankfurt, London, Seoul, California, Sao Paolo, and many more.","operationId":"globalpageload","description":"Gets page load performance from a specified geography\n","parameters":[{"in":"query","name":"license","description":"Your Interzoid license API key. Register at www.interzoid.com/register","required":true,"schema":{"type":"string"}},{"in":"query","name":"origin","description":"Geographic location to perform the measurement from (Paris, Hong Kong, Seoul, Mumbai, Sao Paolo, London, etc. see API home page for full list)","required":true,"schema":{"type":"string"}},{"in":"query","name":"url","description":"specific URL to perform load test time","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Page load performance measurement response","content":{"application/json":{"schema":{"type":"object","properties":{"Origin":{"type":"string"},"Seconds":{"type":"string"},"PageResponseStatus":{"type":"string"},"Contents":{"type":"string"},"Code":{"type":"string"},"Credits":{"type":"string"}}}}}},"400":{"description":"bad request - insufficient parameters"},"402":{"description":"credits exhausted"},"403":{"description":"invalid license API key"},"404":{"description":"origin or url note found"},"405":{"description":"method not allowed"},"500":{"description":"internal server error"}}}}}}