{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Avaza API Documentation",
        "description": "Welcome to the autogenerated documentation & test tool for Avaza's API. <br/><br/><strong>API Security & Authentication</strong><br/>Authentication options include OAuth 2.0 Authorization Code flow (with optional PKCE support for enhanced security), OAuth 2.0 Implicit flow, and Personal Access Tokens. All connections must be encrypted over SSL/TLS. <br/><br/>You can set up and manage your api authentication credentials from within your Avaza account. (requires Administrator permissions on your Avaza account).<br/><br/> OAuth2 Authorization endpoint: https://any.avaza.com/oauth2/authorize  <br/>OAuth2 Token endpoint: https://any.avaza.com/oauth2/token<br/>Base URL for subsequent API Requests: https://api.avaza.com/ <br/><br/>Blogpost about authenticating with Avaza's API:  https://www.avaza.com/avaza-api-oauth2-authentication/ <br/>Blogpost on using Avaza's webhooks: https://www.avaza.com/avaza-api-webhook-notifications/<br/>The OAuth flow currently issues Access Tokens that last 1 day, and Refresh tokens that last 180 days<br/>The Api respects the security Roles assigned to the authenticating Avaza user and filters the data return appropriately. <br/><br><strong>Support</strong><br/>For API Support, and to request access please contact Avaza Support Team via our support chat. <br/><br/><strong>Swagger/OpenAPI Specification</strong><br/>Swagger Specification URL: <a target='blank' href='https://api.avaza.com/swagger/docs/v1'>https://api.avaza.com/swagger/docs/v1</a><br/><br/><strong>Rate Limits</strong><br/>API requests are rate limited per API application (or Personal Access Token) as follows:<br/>&bull; 250 requests per minute per application per account<br/>&bull; 5,000 requests per UTC day per application per account<br/>&bull; 10,000 requests per minute per application across all accounts<br/>Limits are subject to change. When a limit is exceeded the API returns HTTP 429 with a <code>Retry-After</code> header (seconds until the limit resets). Responses also include <code>X-RateLimit-Limit</code>, <code>X-RateLimit-Remaining</code> and <code>X-RateLimit-Reset</code> (UTC Unix epoch seconds) describing the most constrained limit for the caller. Clients should back off until <code>Retry-After</code> elapses; daily-limit 429s persist until 00:00 UTC."
    },
    "host": "api.avaza.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/Account": {
            "get": {
                "tags": [
                    "Account"
                ],
                "summary": "Retrieves configuration details for the authenticated Avaza account, including timesheet settings, currency, branding, and feature flags.",
                "operationId": "Account_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the account configuration details.",
                        "schema": {
                            "$ref": "#/definitions/AccountDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_account"
                        ]
                    }
                ]
            }
        },
        "/api/Bill": {
            "get": {
                "tags": [
                    "Bill"
                ],
                "summary": "Retrieves a paginated list of supplier bills with line items, status, and address details. Supports filtering by company, status, date ranges, and updated date.",
                "description": "TransactionStatusCode values are: \"Draft\", \"Verified\", \"Late\", \"Paid\", \"Partial\", \"Void\"",
                "operationId": "Bill_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return bills updated after this date-time (ISO 8601). Useful for incremental sync.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of results per page. Maximum 1000, default 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "1-based page number to retrieve. Default 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "TransactionStatusCode",
                        "in": "query",
                        "description": "Filter by bill status code",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "IssueDateFrom",
                        "in": "query",
                        "description": "Filter by issue date start range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "IssueDateTo",
                        "in": "query",
                        "description": "Filter by issue date end range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "DueDateFrom",
                        "in": "query",
                        "description": "Filter by due date start range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "DueDateTo",
                        "in": "query",
                        "description": "Filter by due date end range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort results by: DateUpdated, DateCreated (append ' desc' for descending).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "CompanyIDFK",
                        "in": "query",
                        "description": "Filter bills to a specific supplier company by Company ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of bills with line items and address details.",
                        "schema": {
                            "$ref": "#/definitions/BillList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Bill"
                ],
                "summary": "Creates a new draft supplier bill (purchase invoice). Optionally creates a new supplier company and contact if no matching company is found.",
                "operationId": "Bill_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the new bill details including supplier, line items, and dates.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewBill"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created bill with assigned Transaction ID and line items.",
                        "schema": {
                            "$ref": "#/definitions/Bill"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_financials"
                        ]
                    }
                ]
            }
        },
        "/api/Bill/{id}": {
            "get": {
                "tags": [
                    "Bill"
                ],
                "summary": "Retrieves a single supplier bill by its Transaction ID, including line items, issuer/recipient address details, and web links.",
                "operationId": "Bill_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Bill Transaction ID number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the bill details with line items, issuer/recipient, and links.",
                        "schema": {
                            "$ref": "#/definitions/Bill"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            }
        },
        "/api/BillPayment": {
            "get": {
                "tags": [
                    "BillPayment"
                ],
                "summary": "Retrieves a paginated list of supplier bill payments, including payment allocations to specific bills.",
                "operationId": "BillPayment_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return records updated after this UTC date-time (ISO 8601 format). Useful for incremental sync.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of results per page. Maximum 1000, default 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "1-based page number to retrieve. Default 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of bill payments with allocations.",
                        "schema": {
                            "$ref": "#/definitions/BillPaymentList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "BillPayment"
                ],
                "summary": "Records a new supplier bill payment. Optionally include allocations to apply the payment against specific bills.",
                "operationId": "BillPayment_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the new bill payment details including amount, supplier, and optional allocations.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewBillPayment"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created bill payment with allocations.",
                        "schema": {
                            "$ref": "#/definitions/BillPayment"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_financials"
                        ]
                    }
                ]
            }
        },
        "/api/BillPayment/{id}": {
            "get": {
                "tags": [
                    "BillPayment"
                ],
                "summary": "Retrieves a single supplier bill payment by its Transaction ID, including allocations to bills.",
                "operationId": "BillPayment_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Bill Payment Transaction ID to retrieve.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the bill payment details with allocations.",
                        "schema": {
                            "$ref": "#/definitions/BillPayment"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            }
        },
        "/api/Company/Lookup": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Retrieves a paginated dropdown list of companies. Admins see all companies; non-admins see only companies from projects they are a member of.",
                "operationId": "CompanyLookup",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of results per page. Maximum 1000, default 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "1-based page number to retrieve. Default 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search string to match against Company name.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a paginated list of minimal company records (ID and name).",
                        "schema": {
                            "$ref": "#/definitions/CompanyDropdownList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_contacts"
                        ]
                    }
                ]
            }
        },
        "/api/Company": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Retrieves a paginated list of customer companies with full details including contacts, billing address, and financial settings.",
                "operationId": "Company_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return companies updated after this date-time (ISO 8601). Useful for incremental sync.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of results per page. Maximum 1000, default 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "1-based page number to retrieve. Default 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort results by: DateUpdated, DateCreated (append ' desc' for descending).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of companies with full details including contacts.",
                        "schema": {
                            "$ref": "#/definitions/CompanyList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_contacts"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Company"
                ],
                "summary": "Updates an existing company record. Only fields listed in the FieldsToUpdate array will be modified.",
                "operationId": "Company_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the CompanyID, the list of field names to update, and the new field values.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCompany"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the updated company details.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_contacts"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Company"
                ],
                "summary": "Creates a new customer company record in Avaza.",
                "operationId": "Company_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the new company details. CompanyName is required.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewCompany"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created company with assigned Company ID.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_contacts"
                        ]
                    }
                ]
            }
        },
        "/api/Company/{id}": {
            "get": {
                "tags": [
                    "Company"
                ],
                "summary": "Retrieves a single customer company by its Company ID, including contacts and billing address details.",
                "operationId": "Company_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Company ID to retrieve.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the company details with contacts and billing address.",
                        "schema": {
                            "$ref": "#/definitions/Company"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_contacts"
                        ]
                    }
                ]
            }
        },
        "/api/Contact": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Retrieves a paginated list of external contacts (customer contacts) with company association details.",
                "operationId": "Contact_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return contacts updated after this date-time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of results per page. Maximum 1000, default 20.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "1-based page number to retrieve. Default 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort results by: DateUpdated, DateCreated (append ' desc' for descending).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "CompanyIDFK",
                        "in": "query",
                        "description": "Filter contacts to a specific company by Company ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of contacts with company association.",
                        "schema": {
                            "$ref": "#/definitions/ContactList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_contacts"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Contact"
                ],
                "summary": "Creates a new external contact, optionally linked to an existing company. If CompanyName is provided and not matched, a new company is created.",
                "operationId": "Contact_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the new contact details. Firstname, Lastname, and ContactEmail are required.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewCompanyContact"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created contact with assigned Contact ID.",
                        "schema": {
                            "$ref": "#/definitions/CompanyContact"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_contacts"
                        ]
                    }
                ]
            }
        },
        "/api/Contact/{id}": {
            "get": {
                "tags": [
                    "Contact"
                ],
                "summary": "Retrieves a single external contact by their Contact ID.",
                "operationId": "Contact_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The Contact ID to retrieve.",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the contact details.",
                        "schema": {
                            "$ref": "#/definitions/CompanyContact"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_contacts"
                        ]
                    }
                ]
            }
        },
        "/api/CreditNote": {
            "get": {
                "tags": [
                    "CreditNote"
                ],
                "summary": "Retrieves a paginated list of customer credit notes, including line items and allocations against invoices.",
                "operationId": "CreditNote_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return records updated after this UTC date-time (ISO 8601 format). Useful for incremental sync.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of credit notes with line items and allocations.",
                        "schema": {
                            "$ref": "#/definitions/CreditNoteList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            }
        },
        "/api/CreditNote/{id}": {
            "get": {
                "tags": [
                    "CreditNote"
                ],
                "summary": "Retrieves a single credit note by its Transaction ID, including line items and invoice allocations.",
                "operationId": "CreditNote_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Credit Note ID Number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the credit note details with line items and allocations.",
                        "schema": {
                            "$ref": "#/definitions/CreditNote"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            }
        },
        "/api/Currency": {
            "get": {
                "tags": [
                    "Currency"
                ],
                "summary": "Retrieves the list of currencies configured in the Avaza account, including currency codes, names, symbols, and decimal places.",
                "operationId": "Currency_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "Returns the list of configured currencies.",
                        "schema": {
                            "$ref": "#/definitions/CurrencyList"
                        }
                    }
                }
            }
        },
        "/api/CustomFieldDefinition": {
            "get": {
                "tags": [
                    "CustomFieldDefinition"
                ],
                "summary": "Retrieves the active custom field definitions mapped to an entity type, in display order, including data type, multi-select flag, required flag, visibility, and the active options for Dropdown fields. Use the returned CustomFieldDefinitionID (or Name) to set values via the CustomFields collection on the Task and Project endpoints. Returns an empty list when the account's Custom Fields feature is disabled.",
                "operationId": "CustomFieldDefinition_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "EntityTypeCode",
                        "in": "query",
                        "description": "The entity type the fields are mapped to. Values: Project, Task, TeamMember, Contact, Company, Timesheet, Expense, Invoice, InvoiceLineItem, Estimate, EstimateLineItem, Schedule, Bill, BillLineItem. Required.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "The EntityTypeCode is missing or not a valid entity type."
                    },
                    "200": {
                        "description": "Returns the active custom field definitions mapped to the entity type (empty when the feature is disabled).",
                        "schema": {
                            "$ref": "#/definitions/CustomFieldDefinitionList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_projects"
                        ]
                    }
                ]
            }
        },
        "/api/Estimate": {
            "get": {
                "tags": [
                    "Estimate"
                ],
                "summary": "Gets list of Estimates",
                "description": "EstimateStatusCode values are: \"Draft\", \"Sent\", \"Accepted\", \"Converted\", \"Expired\", \"Rejected\"",
                "operationId": "Estimate_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return estimates updated after this date-time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "EstimateStatusCode",
                        "in": "query",
                        "description": "Filter by estimate status code",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "CompanyIDFK",
                        "in": "query",
                        "description": "Filter estimates to a specific customer company by Company ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "IssueDateFrom",
                        "in": "query",
                        "description": "Filter by issue date start range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "IssueDateTo",
                        "in": "query",
                        "description": "Filter by issue date end range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "ExpiryDateFrom",
                        "in": "query",
                        "description": "Filter by expiry date start range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "ExpiryDateTo",
                        "in": "query",
                        "description": "Filter by expiry date end range",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort results by: DateUpdated, DateCreated (append ' desc' for descending).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of estimates with line items.",
                        "schema": {
                            "$ref": "#/definitions/EstimateList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Estimate"
                ],
                "summary": "Updates an existing estimate. Only fields listed in the FieldsToUpdate array will be modified. When LineItems is included in FieldsToUpdate, all existing line items not present in the array are deleted.",
                "description": "Estimates with a status of Accepted, Converted or Void cannot be updated.",
                "operationId": "Estimate_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the fields to update and their new values.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdatedEstimate"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the updated estimate details.",
                        "schema": {
                            "$ref": "#/definitions/EstimateDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_financials"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Estimate"
                ],
                "summary": "Creates a new draft estimate (quote). Optionally creates a new customer company and contact if no matching company is found.",
                "operationId": "Estimate_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the new estimate details, line items, and optional company/contact information.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewEstimate"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created estimate with assigned Estimate ID and line items.",
                        "schema": {
                            "$ref": "#/definitions/EstimateDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_financials"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Estimate"
                ],
                "summary": "Deletes an estimate by its Estimate ID.",
                "description": "Only estimates with a status of Draft, Sent, Accepted or Rejected can be deleted.\r\nEstimates that have been converted to an invoice are protected and\r\nreturn 422. The estimate's line items and activity records are removed with it; file attachments\r\nare flagged for asynchronous removal from storage. A repeat DELETE of the same ID returns 404,\r\nso automation retry loops are safe.\r\n            \r\nExample request:  DELETE /api/Estimate?EstimateID=4120\r\nExample response (200):  { \"estimateID\": 4120, \"isDeleted\": true }",
                "operationId": "Estimate_Delete",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "EstimateID",
                        "in": "query",
                        "description": "The ID of the estimate to delete, supplied in the query string.",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "SendWebhooks",
                        "in": "query",
                        "description": "If true, fires the estimate_deleted webhook to subscribed endpoints. Defaults to false.",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The estimate was deleted successfully.",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "No valid EstimateID was supplied."
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "The authenticated user does not have permission to delete estimates."
                    },
                    "404": {
                        "description": "No estimate with the given ID was found in the account."
                    },
                    "422": {
                        "description": "Deletion is blocked because of the estimate's status (e.g. it has been converted to an invoice)."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_financials"
                        ]
                    }
                ]
            }
        },
        "/api/Estimate/{id}": {
            "get": {
                "tags": [
                    "Estimate"
                ],
                "summary": "Retrieves a single estimate by its Estimate ID, including line items, issuer/recipient details, and web links.",
                "operationId": "Estimate_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Estimate Estimate ID number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the estimate details with line items, issuer/recipient, and links.",
                        "schema": {
                            "$ref": "#/definitions/EstimateDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            }
        },
        "/api/Expense/Attachment": {
            "post": {
                "tags": [
                    "Expense"
                ],
                "summary": "Uploads a file attachment for an expense. Accepts multipart/form-data with the file content. Returns the uploaded file details including ID and URL.",
                "operationId": "ExpenseAttachment",
                "consumes": [
                    "application/form-data"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "File",
                        "in": "formData",
                        "description": "Upload software package",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the uploaded file attachment details including File Attachment ID and URL.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseAttachmentUploadResult"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpenseApproval/Submit": {
            "post": {
                "tags": [
                    "Expense"
                ],
                "summary": "Submit Expenses for Approval.",
                "operationId": "ExpenseApproval",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ExpenseIDs",
                        "in": "body",
                        "description": "A collection of ExpenseID's that should be submitted for approval. If not provided, submits all verified expenses for approval.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int64",
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "UserID",
                        "in": "query",
                        "description": "The user to submit the Expenses for. Defaults to current user. Only allowed to be different from the current user when the current user has rights to Impersonate other users.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "SendNotifications",
                        "in": "query",
                        "description": "Send email alerts to expense approvers. Defaults to true",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "SendWebhooks",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/Expense": {
            "get": {
                "tags": [
                    "Expense"
                ],
                "summary": "Retrieves a paginated list of expense entries with rich filtering by date range, user, project, category, chargeable/invoiced status, approval status, and merchant.",
                "operationId": "Expense_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return expenses updated after this date-time. Format: MM/dd/yyyy hh:mm:ss tt",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "ExpenseDateFrom",
                        "in": "query",
                        "description": "Filter expenses with an ExpenseDate on or after this date. Format: MM/dd/yyyy hh:mm:ss tt",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "ExpenseDateTo",
                        "in": "query",
                        "description": "Filter expenses with an ExpenseDate on or before this date. Format: MM/dd/yyyy hh:mm:ss tt",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "UserEmail",
                        "in": "query",
                        "description": "Filter expenses by the email address of the expense user.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "UserID",
                        "in": "query",
                        "description": "Filter expenses by the UserID of the expense user.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "CategoryName",
                        "in": "query",
                        "description": "Filter expenses by expense category name (exact match).",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "CustomerID",
                        "in": "query",
                        "description": "Filter expenses by Customer/Company ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "ProjectID",
                        "in": "query",
                        "description": "Filter expenses by Project ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "isChargeable",
                        "in": "query",
                        "description": "Filter by chargeable (billable) status: true for chargeable, false for non-chargeable.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "isInvoiced",
                        "in": "query",
                        "description": "Filter by invoiced status: true for invoiced expenses, false for uninvoiced.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "ExpenseReimbursementIDFK",
                        "in": "query",
                        "description": "Filter expenses by a specific reimbursement batch ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "ExpensePaymentMethodIDFK",
                        "in": "query",
                        "description": "Filter expenses by payment method ID.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "ExpenseApprovalStatusCode",
                        "in": "query",
                        "description": "Filter by approval status. Values: Draft, Rejected, Approved, AutoApproved, Pending, Verified.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "Search",
                        "in": "query",
                        "description": "Search expenses by matching against Merchant name and Expense Category Name.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Sort by: DateUpdated, DateCreated, ExpenseDate (append ' desc' for descending).",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of expense entries with full details.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "Expense"
                ],
                "summary": "Updates an existing expense entry. Only fields listed in the FieldsToUpdate array will be modified. Requires the ExpenseID and FieldsToUpdate properties.",
                "operationId": "Expense_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The update request containing the ExpenseID, FieldsToUpdate list, and new field values.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateExpense"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the updated expense details.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_expenses"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "Expense"
                ],
                "summary": "Creates a new expense entry. Requires at minimum an expense date, amount, and expense category (by ID or name).",
                "operationId": "Expense_Post",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The new expense details.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewExpense"
                        }
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the created expense with assigned Expense ID.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_expenses"
                        ]
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Expense"
                ],
                "summary": "Deletes one or more expense entries by their Expense IDs. Returns a result set indicating success or failure for each expense.",
                "operationId": "Expense_Delete",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "ExpenseIDs",
                        "in": "body",
                        "description": "A collection of Expense IDs to delete.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "format": "int64",
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "SendWebhooks",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a result set with success/failure status for each deleted expense.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDeleteResultSet"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "write_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/Expense/{id}": {
            "get": {
                "tags": [
                    "Expense"
                ],
                "summary": "Retrieves a single expense entry by its Expense ID, including category, project, tax, attachment, and approval details.",
                "operationId": "Expense_GetByID",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Expense ID number",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "200": {
                        "description": "Returns the expense entry details including category, tax, and attachments.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDetails"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpenseCategory": {
            "get": {
                "tags": [
                    "ExpenseCategory"
                ],
                "summary": "Retrieves the list of expense categories configured in the account, including unit price settings for per-unit expense tracking.",
                "description": "The default sort order is by Name asc",
                "operationId": "ExpenseCategory_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "isEnabled",
                        "in": "query",
                        "description": "Optional filter on for enabled/disabled categories. Defaults to true.",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the list of expense categories with unit price configuration.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseCategoryList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpenseGroup/Lookup": {
            "get": {
                "tags": [
                    "ExpenseGroup"
                ],
                "summary": "Retrieves a paginated list of expense group/trip names for categorising expenses, with optional search filtering.",
                "description": "Expense Groups are for adhoc grouping of reported expenses. e.g. for expenses incurred on a Trip",
                "operationId": "ExpenseGroupLookup",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search string to match against Expense Group Name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of expense group/trip names.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseGroupDropdownList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpenseMerchant/Lookup": {
            "get": {
                "tags": [
                    "ExpenseMerchant"
                ],
                "summary": "Retrieves a minimal dropdown list of expense merchant names for search/autocomplete.",
                "operationId": "ExpenseMerchangeLookup",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search string to match against Expense Merchant Name",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of expense merchant names.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseMerchantDropdownList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpensePaymentMethod/Lookup": {
            "get": {
                "tags": [
                    "ExpensePaymentMethod"
                ],
                "summary": "Retrieves the list of expense payment methods configured in the Avaza account.",
                "operationId": "ExpensePaymentMethodLookup",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns the list of expense payment methods.",
                        "schema": {
                            "$ref": "#/definitions/ExpensePaymentMethodDropdownList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/ExpenseSummary": {
            "get": {
                "tags": [
                    "ExpenseSummary"
                ],
                "summary": "Retrieves aggregated expense statistics for a date range, with optional grouping by up to three dimensions (e.g. Category, Project, User, Month). Requires ExpenseDateFrom and ExpenseDateTo.",
                "operationId": "ExpenseSummary_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model.groupBy",
                        "in": "query",
                        "description": "(Optional) Combine one, two or three levels of Grouping. Combine these possible grouping values: \"Category\", \"ChargeableStatus\", \"Merchant\", \"ApprovalStatus\", \"ReimbursementStatus\", \"Customer\", \"Project\", \"User\", \"Task\", \"Year\", \"Month\", \"Day\", \"Week\".",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.expenseDateFrom",
                        "in": "query",
                        "description": "(Required) Filter for expenses with expense dates greater or equal to the specified date. e.g. 2019-01-25.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.expenseDateTo",
                        "in": "query",
                        "description": "(Required) Filter for expenses with an expense date smaller or equal to the specified  date. e.g. 2019-01-25.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "model.userID",
                        "in": "query",
                        "description": "(Optional) Defaults to the current user. Provide one or more UserIDs of Users whose expenses should be retrieved. If the current user doesn't have impersonation rights, then they will only see their own data.",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "integer",
                            "format": "int32"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "model.projectID",
                        "in": "query",
                        "description": "(Optional) Filter by Project",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns aggregated expense totals with optional grouping.",
                        "schema": {
                            "$ref": "#/definitions/ExpenseSummaryResult"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_expenses"
                        ]
                    }
                ]
            }
        },
        "/api/FileAttachment": {
            "post": {
                "tags": [
                    "FileAttachment"
                ],
                "summary": "Uploads a single file via multipart/form-data. Send the file in a \"file\" form field.\r\nOptional query parameters linkToEntityType + linkToEntityId inline-link the upload to a Task, Expense, Estimate, or Invoice in the same call.\r\nWhen no link is supplied, the row is inserted as AttachmentType=\"Draft\" and reaped by the cleanup job after 24 hours if never linked.",
                "operationId": "FileAttachmentUpload",
                "consumes": [
                    "multipart/form-data"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "linkToEntityType",
                        "in": "query",
                        "description": "Optional. One of: \"Task\", \"Expense\", \"Estimate\", \"Invoice\". When supplied, linkToEntityId must also be supplied.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "linkToEntityId",
                        "in": "query",
                        "description": "Optional. The target entity's primary key. Required when linkToEntityType is supplied.",
                        "required": false,
                        "type": "integer",
                        "format": "int64"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "The file to upload (multipart/form-data).",
                        "required": true,
                        "type": "file"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the uploaded file attachment details.",
                        "schema": {
                            "$ref": "#/definitions/FileAttachmentUploadResult"
                        }
                    },
                    "400": {
                        "description": "Bad request (missing file, oversize, malformed payload, unknown entity)."
                    },
                    "401": {
                        "description": "Unauthorized."
                    },
                    "403": {
                        "description": "Caller lacks the required scope or right."
                    },
                    "507": {
                        "description": "Insufficient storage allowance on the account."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "upload_attachment"
                        ]
                    }
                ]
            }
        },
        "/api/FileAttachment/Base64": {
            "post": {
                "tags": [
                    "FileAttachment"
                ],
                "summary": "Uploads a single file as a base64-encoded JSON body. Designed for MCP clients and other JSON-only callers that can't easily build multipart/form-data requests.\r\nWhen body.LinkTo is supplied (entityType in {Task, Expense, Estimate, Invoice}), the row is linked in the same transaction; otherwise it is inserted as AttachmentType=\"Draft\" for later linking.",
                "operationId": "FileAttachmentUploadBase64",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Filename, Base64Data, optional ContentType, optional LinkTo.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FileAttachmentBase64Request"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the uploaded file attachment details.",
                        "schema": {
                            "$ref": "#/definitions/FileAttachmentUploadResult"
                        }
                    },
                    "400": {
                        "description": "Bad request (missing/invalid base64, oversize, malformed payload, unknown entity)."
                    },
                    "401": {
                        "description": "Unauthorized."
                    },
                    "403": {
                        "description": "Caller lacks the required scope or right."
                    },
                    "507": {
                        "description": "Insufficient storage allowance on the account."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "upload_attachment"
                        ]
                    }
                ]
            }
        },
        "/api/FileAttachment/FromUrl": {
            "post": {
                "tags": [
                    "FileAttachment"
                ],
                "summary": "Uploads a single file by giving the server a public https URL to fetch from. The server downloads the file (capped at 50 MB, SSRF-protected: blocks RFC1918, loopback, link-local, AWS metadata IPs, and IPv6 ULA).\r\nWhen body.LinkTo is supplied (entityType in {Task, Expense, Estimate, Invoice}), the row is linked in the same transaction; otherwise it is inserted as AttachmentType=\"Draft\" for later linking.",
                "operationId": "FileAttachmentUploadFromUrl",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "SourceUrl, optional Filename, optional ContentType, optional LinkTo.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/FileAttachmentSourceUrlRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the uploaded file attachment details.",
                        "schema": {
                            "$ref": "#/definitions/FileAttachmentUploadResult"
                        }
                    },
                    "400": {
                        "description": "Bad request (missing/invalid URL, oversize, blocked source URL, unknown entity)."
                    },
                    "401": {
                        "description": "Unauthorized."
                    },
                    "403": {
                        "description": "Caller lacks the required scope or right."
                    },
                    "507": {
                        "description": "Insufficient storage allowance on the account."
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "upload_attachment"
                        ]
                    }
                ]
            }
        },
        "/api/FixedAmount": {
            "get": {
                "tags": [
                    "FixedAmount"
                ],
                "summary": "Retrieves a paginated list of fixed-amount billing entries used for fixed-price project invoicing. Can filter by project, task, invoiced status, and updated date.",
                "operationId": "FixedAmount_Get",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "UpdatedAfter",
                        "in": "query",
                        "description": "Only return fixed amounts updated after this date-time.",
                        "required": false,
                        "type": "string",
                        "format": "date-time"
                    },
                    {
                        "name": "ProjectID",
                        "in": "query",
                        "description": "(Optional) The ProjectID of a Project to filter Fixed Amounts for",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "TaskID",
                        "in": "query",
                        "description": "(Optional) The TaskID of a Task to filter Fixed Amounts for",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "isInvoiced",
                        "in": "query",
                        "description": "Filter by invoiced status: true for invoiced, false for uninvoiced.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "CustomerID",
                        "in": "query",
                        "description": "(Optional) Only return fixed amounts whose project belongs to this customer company.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "includeInvoiceDetails",
                        "in": "query",
                        "description": "When true, each linked fixed amount also returns the InvoiceIDFK of the invoice its line item belongs to.",
                        "required": false,
                        "type": "boolean"
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "Number of items per page (max 1000)",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "pageNumber",
                        "in": "query",
                        "description": "Page to display. Starts from 1.",
                        "required": false,
                        "type": "integer",
                        "format": "int32"
                    },
                    {
                        "name": "Sort",
                        "in": "query",
                        "description": "Optional sorting instruction. Currently possible values: \"DateUpdated\", \"DateCreated\", \"DateUpdated desc\", \"DateCreated desc\"",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "401": {
                        "description": "Unauthorized"
                    },
                    "200": {
                        "description": "Returns a paginated list of fixed-amount billing entries.",
                        "schema": {
                            "$ref": "#/definitions/FixedAmountList"
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "read_financials"
                        ]
                    }
                ]
            },
            "put": {
                "tags": [
                    "FixedAmount"
                ],
                "summary": "Updates an existing fixed-amount billing entry. Only fields listed in the FieldsToUpdate array will be modified. Valid field names: Amount, InventoryItemIDFK, Notes.",
                "description": "Fixed amounts that have already been invoiced cannot be updated. Remove the linked invoice line first to release the record. TaskIDFK and ProjectIDFK cannot be changed — to move a fixed amount, delete it and create a new one.",
                "operationId": "FixedAmount_Put",
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "model",
                        "in": "body",
                        "description": "The request body containing the FixedAmountID, the field names to update and their new values.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateFixedAmount"
[...]
