{"openapi":"3.0.0","servers":[{"url":"https://api.interzoid.com"}],"info":{"version":"1.0.0","title":"Interzoid Get Global Time API","description":"This API retrieves the current time for a city or geographic location around the globe.","contact":{"name":"API Support","email":"support@interzoid.com","url":"https://www.interzoid.com"},"termsOfService":"https://www.interzoid.com/terms","license":{"name":"Interzoid license","url":"https://www.interzoid.com/license"}},"externalDocs":{"description":"API home page and documentation","url":"https://www.interzoid.com/services/getglobaltime"},"paths":{"/getglobaltime":{"get":{"tags":["Current Global Time"],"summary":"Gets the current time for a global locale","operationId":"getglobaltime","description":"Gets the current time for a global locale (city, state, region, or country such as Chicago, London, Paris, Seoul, Spain, Buenos Aires, Hawaii, Moscow, Tokyo, Hanoi, etc.)\n","parameters":[{"in":"query","name":"license","description":"Your Interzoid license API key. Register at www.interzoid.com/register","required":true,"schema":{"type":"string"}},{"in":"query","name":"locale","description":"Geographic locale to get the current time for","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Current global time in many forms and related information","content":{"application/json":{"schema":{"type":"object","properties":{"Locale":{"type":"string"},"Zone":{"type":"string"},"TimeStamp":{"type":"string"},"CurrentTime":{"type":"string"},"CurrentDate":{"type":"string"},"ClockTime":{"type":"string"},"Weekday":{"type":"string"},"Day":{"type":"string"},"Month":{"type":"string"},"MonthNumber":{"type":"string"},"Year":{"type":"string"},"Hour":{"type":"string"},"Minute":{"type":"string"},"Second":{"type":"string"},"Code":{"type":"string"},"Credits":{"type":"string"}}}}}},"400":{"description":"bad request - insufficient parameters"},"402":{"description":"credits exhausted"},"403":{"description":"invalid license API key"},"404":{"description":"locale not found"},"405":{"description":"method not allowed"},"500":{"description":"internal server error"}}}}}}