{"openapi":"3.0.0","servers":[{"url":"https://api.interzoid.com"}],"info":{"version":"1.0.0","title":"Interzoid Zip Code Detailed Info API","description":"This API provides detailed information for a given zip code, including city, state, latitude, longitude, area size, and various population demographics.","contact":{"name":"API Support","email":"support@interzoid.com","url":"https://www.interzoid.com"},"termsOfService":"https://www.interzoid.com/terms","license":{"name":"Interzoid license","url":"https://www.interzoid.com/license"}},"externalDocs":{"description":"API home page and documentation","url":"https://www.interzoid.com/services/getzipcodeinfo"},"paths":{"/getzipcodeinfo":{"get":{"tags":["Detailed Zip Code Information"],"summary":"Gets detailed zip code information","operationId":"getzipcodeinfo","description":"For a given zip code, detailed information is returned, including city, state, latitude, longitude, area size, and various population demographics, including income, age, and presence of farming data.\n","parameters":[{"in":"query","name":"license","description":"Your Interzoid license API key. Register at www.interzoid.com/register","required":true,"schema":{"type":"string"}},{"in":"query","name":"zip","description":"Zip code to retrieve detailed information","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Zip code detailed code information","content":{"application/json":{"schema":{"type":"object","properties":{"ZipCode":{"type":"string"},"City":{"type":"string"},"State":{"type":"string"},"Population":{"type":"string"},"AreaSquareMiles":{"type":"string"},"Latitude":{"type":"string"},"Longitude":{"type":"string"},"IncomePercent50k":{"type":"string"},"IncomePercent100k":{"type":"string"},"IncomePercent200k":{"type":"string"},"MarriedHouseholdPercent":{"type":"string"},"ElderlyHouseholdPercent":{"type":"string"},"FarmerHouseholdPercent":{"type":"string"},"Code":{"type":"string"},"Credits":{"type":"string"}}}}}},"400":{"description":"bad request - insufficient parameters"},"402":{"description":"credits exhausted"},"403":{"description":"invalid license API key"},"404":{"description":"zip code not found"},"405":{"description":"method not allowed"},"500":{"description":"internal server error"}}}}}}