{"openapi":"3.0.4","info":{"title":"Microsoft Entra ID (Azure AD) API","description":"Microsoft Entra ID (Azure AD) API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering users, groups, applications, service principals, directory roles, devices, domains and organization directory objects.","version":"v1.0","x-ms-generated-by":{"toolName":"Microsoft.OpenApi.OData","toolVersion":"0.0.0.0"}},"servers":[{"url":"https://graph.microsoft.com/v1.0"}],"tags":[{"name":"applications.application","x-ms-docs-toc-type":"page"},{"name":"applications.appManagementPolicy","x-ms-docs-toc-type":"page"},{"name":"applications.directoryObject","x-ms-docs-toc-type":"page"},{"name":"applications.extensionProperty","x-ms-docs-toc-type":"page"},{"name":"applications.federatedIdentityCredential","x-ms-docs-toc-type":"page"},{"name":"applications.homeRealmDiscoveryPolicy","x-ms-docs-toc-type":"page"},{"name":"applications.application.Actions","x-ms-docs-toc-type":"container"},{"name":"applications.synchronization","x-ms-docs-toc-type":"page"},{"name":"applications.tokenIssuancePolicy","x-ms-docs-toc-type":"page"},{"name":"applications.tokenLifetimePolicy","x-ms-docs-toc-type":"page"},{"name":"applications.application.Functions","x-ms-docs-toc-type":"container"},{"name":"contacts.orgContact","x-ms-docs-toc-type":"page"},{"name":"contacts.directoryObject","x-ms-docs-toc-type":"page"},{"name":"contacts.orgContact.Actions","x-ms-docs-toc-type":"container"},{"name":"contacts.onPremisesSyncBehavior","x-ms-docs-toc-type":"page"},{"name":"contacts.serviceProvisioningError","x-ms-docs-toc-type":"page"},{"name":"contacts.orgContact.Functions","x-ms-docs-toc-type":"container"},{"name":"devices.device","x-ms-docs-toc-type":"page"},{"name":"devices.extension","x-ms-docs-toc-type":"page"},{"name":"devices.directoryObject","x-ms-docs-toc-type":"page"},{"name":"devices.device.Actions","x-ms-docs-toc-type":"container"},{"name":"devices.device.Functions","x-ms-docs-toc-type":"container"},{"name":"directory.directory","x-ms-docs-toc-type":"page"},{"name":"directory.administrativeUnit","x-ms-docs-toc-type":"page"},{"name":"directory.attributeSet","x-ms-docs-toc-type":"page"},{"name":"directory.customSecurityAttributeDefinition","x-ms-docs-toc-type":"page"},{"name":"directory.directoryObject","x-ms-docs-toc-type":"page"},{"name":"directory.deviceLocalCredentialInfo","x-ms-docs-toc-type":"page"},{"name":"directory.identityProviderBase","x-ms-docs-toc-type":"page"},{"name":"directory.onPremisesDirectorySynchronization","x-ms-docs-toc-type":"page"},{"name":"directory.publicKeyInfrastructureRoot","x-ms-docs-toc-type":"page"},{"name":"directory.recovery","x-ms-docs-toc-type":"page"},{"name":"directory.remoteTenantGroup","x-ms-docs-toc-type":"page"},{"name":"directory.companySubscription","x-ms-docs-toc-type":"page"},{"name":"directoryObjects.directoryObject","x-ms-docs-toc-type":"page"},{"name":"directoryObjects.directoryObject.Actions","x-ms-docs-toc-type":"container"},{"name":"directoryObjects.directoryObject.Functions","x-ms-docs-toc-type":"container"},{"name":"directoryRoles.directoryRole","x-ms-docs-toc-type":"page"},{"name":"directoryRoles.directoryObject","x-ms-docs-toc-type":"page"},{"name":"directoryRoles.directoryRole.Actions","x-ms-docs-toc-type":"container"},{"name":"directoryRoles.scopedRoleMembership","x-ms-docs-toc-type":"page"},{"name":"directoryRoles.directoryRole.Functions","x-ms-docs-toc-type":"container"},{"name":"directoryRoleTemplates.directoryRoleTemplate","x-ms-docs-toc-type":"page"},{"name":"directoryRoleTemplates.directoryRoleTemplate.Actions","x-ms-docs-toc-type":"container"},{"name":"directoryRoleTemplates.directoryRoleTemplate.Functions","x-ms-docs-toc-type":"container"},{"name":"domains.domain","x-ms-docs-toc-type":"page"},{"name":"domains.directoryObject","x-ms-docs-toc-type":"page"},{"name":"domains.internalDomainFederation","x-ms-docs-toc-type":"page"},{"name":"domains.domain.Actions","x-ms-docs-toc-type":"container"},{"name":"domains.domainDnsRecord","x-ms-docs-toc-type":"page"},{"name":"groups.group","x-ms-docs-toc-type":"page"},{"name":"groups.directoryObject","x-ms-docs-toc-type":"page"},{"name":"groups.appRoleAssignment","x-ms-docs-toc-type":"page"},{"name":"groups.extension","x-ms-docs-toc-type":"page"},{"name":"groups.groupLifecyclePolicy","x-ms-docs-toc-type":"page"},{"name":"groups.group.Actions","x-ms-docs-toc-type":"container"},{"name":"groups.resourceSpecificPermissionGrant","x-ms-docs-toc-type":"page"},{"name":"groups.profilePhoto","x-ms-docs-toc-type":"page"},{"name":"groups.serviceProvisioningError","x-ms-docs-toc-type":"page"},{"name":"groups.groupSetting","x-ms-docs-toc-type":"page"},{"name":"groupSettings.groupSetting","x-ms-docs-toc-type":"page"},{"name":"groupSettingTemplates.groupSettingTemplate","x-ms-docs-toc-type":"page"},{"name":"groupSettingTemplates.groupSettingTemplate.Actions","x-ms-docs-toc-type":"container"},{"name":"groupSettingTemplates.groupSettingTemplate.Functions","x-ms-docs-toc-type":"container"},{"name":"identityProviders.identityProvider","x-ms-docs-toc-type":"page"},{"name":"identityProviders.identityProvider.Functions","x-ms-docs-toc-type":"container"},{"name":"invitations.invitation","x-ms-docs-toc-type":"page"},{"name":"invitations.user","x-ms-docs-toc-type":"page"},{"name":"invitations.directoryObject","x-ms-docs-toc-type":"page"},{"name":"oauth2PermissionGrants.oAuth2PermissionGrant","x-ms-docs-toc-type":"page"},{"name":"oauth2PermissionGrants.oAuth2PermissionGrant.Functions","x-ms-docs-toc-type":"container"},{"name":"organization.organization","x-ms-docs-toc-type":"page"},{"name":"organization.organizationalBranding","x-ms-docs-toc-type":"page"},{"name":"organization.certificateBasedAuthConfiguration","x-ms-docs-toc-type":"page"},{"name":"organization.extension","x-ms-docs-toc-type":"page"},{"name":"organization.organization.Actions","x-ms-docs-toc-type":"container"},{"name":"organization.organization.Functions","x-ms-docs-toc-type":"container"},{"name":"roleManagement.rbacApplication","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.servicePrincipal","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.appManagementPolicy","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.appRoleAssignment","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.claimsMappingPolicy","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.directoryObject","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.delegatedPermissionClassification","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.endpoint","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.federatedIdentityCredential","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.homeRealmDiscoveryPolicy","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.servicePrincipal.Actions","x-ms-docs-toc-type":"container"},{"name":"servicePrincipals.oAuth2PermissionGrant","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.remoteDesktopSecurityConfiguration","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.synchronization","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.tokenIssuancePolicy","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.tokenLifetimePolicy","x-ms-docs-toc-type":"page"},{"name":"servicePrincipals.servicePrincipal.Functions","x-ms-docs-toc-type":"container"},{"name":"subscribedSkus.subscribedSku","x-ms-docs-toc-type":"page"},{"name":"users.user","x-ms-docs-toc-type":"page"},{"name":"users.appRoleAssignment","x-ms-docs-toc-type":"page"},{"name":"users.directoryObject","x-ms-docs-toc-type":"page"},{"name":"users.extension","x-ms-docs-toc-type":"page"},{"name":"users.licenseDetails","x-ms-docs-toc-type":"page"},{"name":"users.user.Actions","x-ms-docs-toc-type":"container"},{"name":"users.profilePhoto","x-ms-docs-toc-type":"page"},{"name":"users.serviceProvisioningError","x-ms-docs-toc-type":"page"}],"paths":{"/applications":{"description":"Provides operations to manage the collection of application entities.","get":{"tags":["applications.application"],"summary":"List applications","description":"Get the list of applications in this organization. This API also returns agentIdentityBlueprint objects, which are identified by the @odata.type property of #microsoft.graph.agentIdentityBlueprint.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-list?view=graph-rest-1.0"},"operationId":"applications.application.ListApplication","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.applicationCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.application"],"summary":"Create application","description":"Create a new application object. This API can also create an agentIdentityBlueprint object when the @odata.type property is set to #microsoft.graph.agentIdentityBlueprint.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-post-applications?view=graph-rest-1.0"},"operationId":"applications.application.CreateApplication","requestBody":{"description":"New entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.application"}}},"required":true},"responses":{"2XX":{"description":"Created entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.application"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"}},"/applications/{application-id}":{"description":"Provides operations to manage the collection of application entities.","get":{"tags":["applications.application"],"summary":"Get application","description":"Get the properties and relationships of an application object. This API can be used to get agentIdentityBlueprint objects as well by their ID.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-get?view=graph-rest-1.0"},"operationId":"applications.application.GetApplication","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.application"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.application"],"summary":"Upsert application","description":"Create a new application object if it doesn't exist, or update the properties of an existing application object. This API can also create an agentIdentityBlueprint object if it doesn't exist, or update properties of an existing agentIdentityBlueprint, when the @odata.type property is set to #microsoft.graph.agentIdentityBlueprint.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-upsert?view=graph-rest-1.0"},"operationId":"applications.application.UpdateApplication","requestBody":{"description":"New property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.application"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.application"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.application"],"summary":"Delete application","description":"Delete an application object. When deleted, apps are moved to a temporary container and can be restored within 30 days. After that time, they are permanently deleted. This API can also delete an agentIdentityBlueprint object by its ID.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-delete?view=graph-rest-1.0"},"operationId":"applications.application.DeleteApplication","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/appManagementPolicies":{"description":"Provides operations to manage the appManagementPolicies property of the microsoft.graph.application entity.","get":{"tags":["applications.appManagementPolicy"],"summary":"Get appManagementPolicies from applications","description":"The appManagementPolicy applied to this application.","operationId":"applications.ListAppManagementPolicies","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.appManagementPolicyCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/appManagementPolicies/{appManagementPolicy-id}/$ref":{"description":"Provides operations to manage the collection of application entities.","delete":{"tags":["applications.appManagementPolicy"],"summary":"Remove appliesTo","description":"Remove an appManagementPolicy policy object from an application or service principal object. When you remove the appManagementPolicy, the application or service principal adopts the tenant-wide tenantAppManagementPolicy setting. ","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/appmanagementpolicy-delete-appliesto?view=graph-rest-1.0"},"operationId":"applications.appManagementPolicies.DeleteRefAppManagementPolicy","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"appManagementPolicy-id","in":"path","description":"The unique identifier of appManagementPolicy","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"appManagementPolicy"}]},"/applications/{application-id}/appManagementPolicies/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.appManagementPolicy"],"summary":"Get the number of the resource","operationId":"applications.appManagementPolicies.GetCount-3aad","parameters":[{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/appManagementPolicies/$ref":{"description":"Provides operations to manage the collection of application entities.","get":{"tags":["applications.appManagementPolicy"],"summary":"Get ref of appManagementPolicies from applications","description":"The appManagementPolicy applied to this application.","operationId":"applications.ListRefAppManagementPolicies","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/StringCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.appManagementPolicy"],"summary":"Assign appliesTo","description":"Assign an appManagementPolicy policy object to an application or service principal object. The application or service principal adopts this policy over the tenant-wide tenantAppManagementPolicy setting. Only one policy object can be assigned to an application or service principal.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/appmanagementpolicy-post-appliesto?view=graph-rest-1.0"},"operationId":"applications.CreateRefAppManagementPolicies","requestBody":{"$ref":"#/components/requestBodies/refPostBody"},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.appManagementPolicy"],"summary":"Remove appliesTo","description":"Remove an appManagementPolicy policy object from an application or service principal object. When you remove the appManagementPolicy, the application or service principal adopts the tenant-wide tenantAppManagementPolicy setting. ","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/appmanagementpolicy-delete-appliesto?view=graph-rest-1.0"},"operationId":"applications.DeleteRefAppManagementPolicies","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}},{"name":"@id","in":"query","description":"The delete Uri","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/createdOnBehalfOf":{"description":"Provides operations to manage the createdOnBehalfOf property of the microsoft.graph.application entity.","get":{"tags":["applications.directoryObject"],"summary":"Get createdOnBehalfOf from applications","description":"Supports $filter (/$count eq 0, /$count ne 0). Read-only.","operationId":"applications.GetCreatedOnBehalfOf","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.directoryObject"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/extensionProperties":{"description":"Provides operations to manage the extensionProperties property of the microsoft.graph.application entity.","get":{"tags":["applications.extensionProperty"],"summary":"List extensionProperties (directory extensions)","description":"Retrieve the list of directory extension definitions, represented by extensionProperty objects on an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-list-extensionproperty?view=graph-rest-1.0"},"operationId":"applications.ListExtensionProperties","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.extensionPropertyCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.extensionProperty"],"summary":"Create extensionProperty (directory extension)","description":"Create a new directory extension definition, represented by an extensionProperty object.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-post-extensionproperty?view=graph-rest-1.0"},"operationId":"applications.CreateExtensionProperties","requestBody":{"description":"New navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.extensionProperty"}}},"required":true},"responses":{"2XX":{"description":"Created navigation property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.extensionProperty"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/extensionProperties/{extensionProperty-id}":{"description":"Provides operations to manage the extensionProperties property of the microsoft.graph.application entity.","get":{"tags":["applications.extensionProperty"],"summary":"Get extensionProperty (directory extension)","description":"Read a directory extension definition represented by an extensionProperty object.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/extensionproperty-get?view=graph-rest-1.0"},"operationId":"applications.GetExtensionProperties","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.extensionProperty"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.extensionProperty"],"summary":"Update the navigation property extensionProperties in applications","operationId":"applications.UpdateExtensionProperties","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.extensionProperty"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.extensionProperty"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.extensionProperty"],"summary":"Delete extensionProperty (directory extension)","description":"Delete a directory extension definition represented by an extensionProperty object. You can delete only directory extensions that aren't synced from on-premises active directory (AD).","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/extensionproperty-delete?view=graph-rest-1.0"},"operationId":"applications.DeleteExtensionProperties","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"extensionProperty-id","in":"path","description":"The unique identifier of extensionProperty","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"extensionProperty"}]},"/applications/{application-id}/extensionProperties/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.extensionProperty"],"summary":"Get the number of the resource","operationId":"applications.extensionProperties.GetCount-3535","parameters":[{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/federatedIdentityCredentials":{"description":"Provides operations to manage the federatedIdentityCredentials property of the microsoft.graph.application entity.","get":{"tags":["applications.federatedIdentityCredential"],"summary":"List federatedIdentityCredential objects","description":"Get a list of the federatedIdentityCredential objects and their properties assigned to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-list?view=graph-rest-1.0"},"operationId":"applications.ListFederatedIdentityCredentials","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.federatedIdentityCredentialCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.federatedIdentityCredential"],"summary":"Create federatedIdentityCredential","description":"Create a new federatedIdentityCredential object for an application. By configuring a trust relationship between your Microsoft Entra application registration and the identity provider for your compute platform, you can use tokens issued by that platform to authenticate with Microsoft identity platform and call APIs in the Microsoft ecosystem. Maximum of 20 objects can be added to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-post?view=graph-rest-1.0"},"operationId":"applications.CreateFederatedIdentityCredentials","requestBody":{"description":"New navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}},"required":true},"responses":{"2XX":{"description":"Created navigation property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/federatedIdentityCredentials/{federatedIdentityCredential-id}":{"description":"Provides operations to manage the federatedIdentityCredentials property of the microsoft.graph.application entity.","get":{"tags":["applications.federatedIdentityCredential"],"summary":"Get federatedIdentityCredential","description":"Read the properties and relationships of a federatedIdentityCredential object assigned to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-get?view=graph-rest-1.0"},"operationId":"applications.GetFederatedIdentityCredentials","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.federatedIdentityCredential"],"summary":"Upsert federatedIdentityCredential","description":"Create a new federatedIdentityCredential object for an application if it doesn't exist, or update the properties of an existing federatedIdentityCredential object. By configuring a trust relationship between your Microsoft Entra application registration and the identity provider for your compute platform, you can use tokens issued by that platform to authenticate with Microsoft identity platform and call APIs in the Microsoft ecosystem. Maximum of 20 objects can be added to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-upsert?view=graph-rest-1.0"},"operationId":"applications.UpdateFederatedIdentityCredentials","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.federatedIdentityCredential"],"summary":"Delete federatedIdentityCredential","description":"Delete a federatedIdentityCredential object from an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-delete?view=graph-rest-1.0"},"operationId":"applications.DeleteFederatedIdentityCredentials","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"federatedIdentityCredential-id","in":"path","description":"The unique identifier of federatedIdentityCredential","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"federatedIdentityCredential"}],"x-ms-docs-grouped-path":["/applications/{application-id}/federatedIdentityCredentials(name='{name}')"]},"/applications/{application-id}/federatedIdentityCredentials(name='{name}')":{"description":"Provides operations to manage the federatedIdentityCredentials property of the microsoft.graph.application entity.","get":{"tags":["applications.federatedIdentityCredential"],"summary":"Get federatedIdentityCredential","description":"Read the properties and relationships of a federatedIdentityCredential object assigned to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-get?view=graph-rest-1.0"},"operationId":"applications.federatedIdentityCredentials.GetByName","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.federatedIdentityCredential"],"summary":"Upsert federatedIdentityCredential","description":"Create a new federatedIdentityCredential object for an application if it doesn't exist, or update the properties of an existing federatedIdentityCredential object. By configuring a trust relationship between your Microsoft Entra application registration and the identity provider for your compute platform, you can use tokens issued by that platform to authenticate with Microsoft identity platform and call APIs in the Microsoft ecosystem. Maximum of 20 objects can be added to an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-upsert?view=graph-rest-1.0"},"operationId":"applications.federatedIdentityCredentials.UpdateByName","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.federatedIdentityCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.federatedIdentityCredential"],"summary":"Delete federatedIdentityCredential","description":"Delete a federatedIdentityCredential object from an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/federatedidentitycredential-delete?view=graph-rest-1.0"},"operationId":"applications.federatedIdentityCredentials.DeleteByName","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"name","in":"path","description":"Alternate key of federatedIdentityCredential","required":true,"schema":{"type":"string"}}],"x-ms-docs-grouped-path":["/applications/{application-id}/federatedIdentityCredentials/{federatedIdentityCredential-id}"]},"/applications/{application-id}/federatedIdentityCredentials/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.federatedIdentityCredential"],"summary":"Get the number of the resource","operationId":"applications.federatedIdentityCredentials.GetCount-d653","parameters":[{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/homeRealmDiscoveryPolicies":{"description":"Provides operations to manage the homeRealmDiscoveryPolicies property of the microsoft.graph.application entity.","get":{"tags":["applications.homeRealmDiscoveryPolicy"],"summary":"Get homeRealmDiscoveryPolicies from applications","operationId":"applications.ListHomeRealmDiscoveryPolicies","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.homeRealmDiscoveryPolicyCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/homeRealmDiscoveryPolicies/{homeRealmDiscoveryPolicy-id}":{"description":"Provides operations to manage the homeRealmDiscoveryPolicies property of the microsoft.graph.application entity.","get":{"tags":["applications.homeRealmDiscoveryPolicy"],"summary":"Get homeRealmDiscoveryPolicies from applications","operationId":"applications.GetHomeRealmDiscoveryPolicies","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"homeRealmDiscoveryPolicy-id","in":"path","description":"The unique identifier of homeRealmDiscoveryPolicy","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"homeRealmDiscoveryPolicy"}]},"/applications/{application-id}/homeRealmDiscoveryPolicies/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.homeRealmDiscoveryPolicy"],"summary":"Get the number of the resource","operationId":"applications.homeRealmDiscoveryPolicies.GetCount-1662","parameters":[{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/logo":{"description":"Provides operations to manage the media for the application entity.","get":{"tags":["applications.application"],"summary":"Get logo for application from applications","description":"The main logo for the application. Not nullable.","operationId":"applications.application.GetLogo","responses":{"2XX":{"description":"Retrieved media content","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"put":{"tags":["applications.application"],"summary":"Update logo for application in applications","description":"The main logo for the application. Not nullable.","operationId":"applications.application.UpdateLogo","requestBody":{"description":"New media content.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"required":true},"responses":{"2XX":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"delete":{"tags":["applications.application"],"summary":"Delete logo for application in applications","description":"The main logo for the application. Not nullable.","operationId":"applications.application.DeleteLogo","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/addKey":{"description":"Provides operations to call the addKey method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action addKey","description":"Add a key credential to an application. This method, along with removeKey can be used by an application to automate rolling its expiring keys. As part of the request validation for this method, a proof of possession of an existing key is verified before the action can be performed.  Applications that don't have any existing valid certificates (no certificates have been added yet, or all certificates have expired), won't be able to use this service action. You can use the Update application operation to perform an update instead.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-addkey?view=graph-rest-1.0"},"operationId":"applications.application.addKey","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"keyCredential":{"$ref":"#/components/schemas/microsoft.graph.keyCredential"},"passwordCredential":{"anyOf":[{"$ref":"#/components/schemas/microsoft.graph.passwordCredential"},{"type":"object","nullable":true}]},"proof":{"type":"string"}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.keyCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/addPassword":{"description":"Provides operations to call the addPassword method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action addPassword","description":"Adds a strong password or secret to an application. You can also add passwords while creating the application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-addpassword?view=graph-rest-1.0"},"operationId":"applications.application.addPassword","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"passwordCredential":{"anyOf":[{"$ref":"#/components/schemas/microsoft.graph.passwordCredential"},{"type":"object","nullable":true}]}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.passwordCredential"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/checkMemberGroups":{"description":"Provides operations to call the checkMemberGroups method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action checkMemberGroups","description":"Check for membership in a specified list of group IDs, and return from that list the IDs of groups where a specified object is a member. The specified object can be of one of the following types:\r\n- user\r\n- group\r\n- service principal\r\n- organizational contact\r\n- device\r\n- directory object This function is transitive. You can check up to a maximum of 20 groups per request. This function supports all groups provisioned in Microsoft Entra ID. Because Microsoft 365 groups cannot contain other groups, membership in a Microsoft 365 group is always direct.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/directoryobject-checkmembergroups?view=graph-rest-1.0"},"operationId":"applications.application.checkMemberGroups","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"groupIds":{"type":"array","items":{"type":"string"}}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/BaseCollectionPaginationCountResponse"},{"type":"object","properties":{"value":{"type":"array","items":{"type":"string"}}}}]}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action","x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/checkMemberObjects":{"description":"Provides operations to call the checkMemberObjects method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action checkMemberObjects","operationId":"applications.application.checkMemberObjects","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/BaseCollectionPaginationCountResponse"},{"type":"object","properties":{"value":{"type":"array","items":{"type":"string"}}}}]}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action","x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/getMemberGroups":{"description":"Provides operations to call the getMemberGroups method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action getMemberGroups","description":"Return all the group IDs for the groups that the specified user, group, service principal, organizational contact, device, or directory object is a member of. This function is transitive. This API returns up to 11,000 group IDs. If more than 11,000 results are available, it returns a 400 Bad Request error with the DirectoryResultSizeLimitExceeded error code. If you get the DirectoryResultSizeLimitExceeded error code, use the List group transitive memberOf API instead.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/directoryobject-getmembergroups?view=graph-rest-1.0"},"operationId":"applications.application.getMemberGroups","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"securityEnabledOnly":{"type":"boolean","default":false,"nullable":true}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/BaseCollectionPaginationCountResponse"},{"type":"object","properties":{"value":{"type":"array","items":{"type":"string"}}}}]}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action","x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/getMemberObjects":{"description":"Provides operations to call the getMemberObjects method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action getMemberObjects","description":"Return all IDs for the groups, administrative units, and directory roles that an object of one of the following types is a member of:\r\n- user\r\n- group\r\n- service principal\r\n- organizational contact\r\n- device\r\n- directory object This function is transitive. Only users and role-enabled groups can be members of directory roles.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/directoryobject-getmemberobjects?view=graph-rest-1.0"},"operationId":"applications.application.getMemberObjects","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"securityEnabledOnly":{"type":"boolean","default":false,"nullable":true}}}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"type":"object","allOf":[{"$ref":"#/components/schemas/BaseCollectionPaginationCountResponse"},{"type":"object","properties":{"value":{"type":"array","items":{"type":"string"}}}}]}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action","x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/removeKey":{"description":"Provides operations to call the removeKey method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action removeKey","description":"Remove a key credential from an agentIdentityBlueprint. This method along with addKey can be used to automate rolling its expiring keys.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/agentidentityblueprint-removekey?view=graph-rest-1.0"},"operationId":"applications.application.removeKey","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"keyId":{"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","format":"uuid"},"proof":{"type":"string"}}}}},"required":true},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/removePassword":{"description":"Provides operations to call the removePassword method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action removePassword","description":"Remove a password from an application.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-removepassword?view=graph-rest-1.0"},"operationId":"applications.application.removePassword","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"keyId":{"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$","type":"string","format":"uuid"}}}}},"required":true},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/restore":{"description":"Provides operations to call the restore method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action restore","description":"Restore a recently deleted directory object from deleted items. The following types are supported:\r\n- administrativeUnit\r\n- application\r\n- agentIdentityBlueprint\r\n- agentIdentity\r\n- agentIdentityBlueprintPrincipal\r\n- agentUser\r\n- certificateBasedAuthPki\r\n- certificateAuthorityDetail\r\n- group\r\n- servicePrincipal\r\n- user If an item is accidentally deleted, you can fully restore the item. Additionally, restoring an application doesn't automatically restore the associated service principal automatically. You must call this API to explicitly restore the deleted service principal. A recently deleted item remains available for up to 30 days. After 30 days, the item is permanently deleted.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/directory-deleteditems-restore?view=graph-rest-1.0"},"operationId":"applications.application.restore","responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/microsoft.graph.directoryObject"},{"type":"object","nullable":true}]}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/setVerifiedPublisher":{"description":"Provides operations to call the setVerifiedPublisher method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action setVerifiedPublisher","description":"Set the the verifiedPublisher on an agentIdentityBlueprint. For more information, including prerequisites to setting a verified publisher, see Publisher verification.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/agentidentityblueprint-setverifiedpublisher?view=graph-rest-1.0"},"operationId":"applications.application.setVerifiedPublisher","requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"verifiedPublisherId":{"type":"string"}}}}},"required":true},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/unsetVerifiedPublisher":{"description":"Provides operations to call the unsetVerifiedPublisher method.","post":{"tags":["applications.application.Actions"],"summary":"Invoke action unsetVerifiedPublisher","description":"Unset the verifiedPublisher previously set on an agentIdentityBlueprint, removing all verified publisher properties. For more information, see Publisher verification.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/agentidentityblueprint-unsetverifiedpublisher?view=graph-rest-1.0"},"operationId":"applications.application.unsetVerifiedPublisher","responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"action"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners":{"description":"Provides operations to manage the owners property of the microsoft.graph.application entity.","get":{"tags":["applications.directoryObject"],"summary":"List owners of an application","description":"Retrieve a list of owners for an application that are directoryObject types.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-list-owners?view=graph-rest-1.0"},"operationId":"applications.ListOwners","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.directoryObjectCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/{directoryObject-id}/$ref":{"description":"Provides operations to manage the collection of application entities.","delete":{"tags":["applications.directoryObject"],"summary":"Remove application owner","description":"Remove an owner from an application. As a recommended best practice, apps should have at least two owners.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-delete-owners?view=graph-rest-1.0"},"operationId":"applications.owners.DeleteRefDirectoryObject","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"directoryObject-id","in":"path","description":"The unique identifier of directoryObject","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"directoryObject"}]},"/applications/{application-id}/owners/{directoryObject-id}/graph.appRoleAssignment":{"description":"Casts the previous resource to appRoleAssignment.","get":{"tags":["applications.directoryObject"],"summary":"Get the item of type microsoft.graph.directoryObject as microsoft.graph.appRoleAssignment","operationId":"applications.GetOwners.AsAppRoleAssignment","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Entity result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.appRoleAssignment"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"directoryObject-id","in":"path","description":"The unique identifier of directoryObject","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"directoryObject"}]},"/applications/{application-id}/owners/{directoryObject-id}/graph.endpoint":{"description":"Casts the previous resource to endpoint.","get":{"tags":["applications.directoryObject"],"summary":"Get the item of type microsoft.graph.directoryObject as microsoft.graph.endpoint","operationId":"applications.GetOwners.AsEndpoint","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Entity result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.endpoint"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"directoryObject-id","in":"path","description":"The unique identifier of directoryObject","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"directoryObject"}]},"/applications/{application-id}/owners/{directoryObject-id}/graph.servicePrincipal":{"description":"Casts the previous resource to servicePrincipal.","get":{"tags":["applications.directoryObject"],"summary":"Get the item of type microsoft.graph.directoryObject as microsoft.graph.servicePrincipal","operationId":"applications.GetOwners.AsServicePrincipal","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Entity result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.servicePrincipal"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"directoryObject-id","in":"path","description":"The unique identifier of directoryObject","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"directoryObject"}]},"/applications/{application-id}/owners/{directoryObject-id}/graph.user":{"description":"Casts the previous resource to user.","get":{"tags":["applications.directoryObject"],"summary":"Get the item of type microsoft.graph.directoryObject as microsoft.graph.user","operationId":"applications.GetOwners.AsUser","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Entity result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.user"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"directoryObject-id","in":"path","description":"The unique identifier of directoryObject","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"directoryObject"}]},"/applications/{application-id}/owners/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.directoryObject"],"summary":"Get the number of the resource","operationId":"applications.owners.GetCount-2b88","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/$ref":{"description":"Provides operations to manage the collection of application entities.","get":{"tags":["applications.directoryObject"],"summary":"List owners of an application","description":"Retrieve a list of owners for an application that are directoryObject types.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-list-owners?view=graph-rest-1.0"},"operationId":"applications.ListRefOwners","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/StringCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.directoryObject"],"summary":"Add owner","description":"Add an owner to an application. Application owners can be individual users, the associated service principal, or another service principal.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-post-owners?view=graph-rest-1.0"},"operationId":"applications.CreateRefOwners","requestBody":{"$ref":"#/components/requestBodies/refPostBody"},"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.directoryObject"],"summary":"Remove application owner","description":"Remove an owner from an application. As a recommended best practice, apps should have at least two owners.","externalDocs":{"description":"Find more info here","url":"https://learn.microsoft.com/graph/api/application-delete-owners?view=graph-rest-1.0"},"operationId":"applications.DeleteRefOwners","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}},{"name":"@id","in":"query","description":"The delete Uri","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.appRoleAssignment":{"description":"Casts the previous resource to appRoleAssignment.","get":{"tags":["applications.directoryObject"],"summary":"Get the items of type microsoft.graph.appRoleAssignment in the microsoft.graph.directoryObject collection","operationId":"applications.ListOwners.AsAppRoleAssignment","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.appRoleAssignmentCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.appRoleAssignment/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.directoryObject"],"summary":"Get the number of the resource","operationId":"applications.Owners.GetCount.AsAppRoleAssignment-eb25","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.endpoint":{"description":"Casts the previous resource to endpoint.","get":{"tags":["applications.directoryObject"],"summary":"Get the items of type microsoft.graph.endpoint in the microsoft.graph.directoryObject collection","operationId":"applications.ListOwners.AsEndpoint","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.endpointCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.endpoint/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.directoryObject"],"summary":"Get the number of the resource","operationId":"applications.Owners.GetCount.AsEndpoint-0426","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.servicePrincipal":{"description":"Casts the previous resource to servicePrincipal.","get":{"tags":["applications.directoryObject"],"summary":"Get the items of type microsoft.graph.servicePrincipal in the microsoft.graph.directoryObject collection","operationId":"applications.ListOwners.AsServicePrincipal","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.servicePrincipalCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.servicePrincipal/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.directoryObject"],"summary":"Get the number of the resource","operationId":"applications.Owners.GetCount.AsServicePrincipal-0959","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.user":{"description":"Casts the previous resource to user.","get":{"tags":["applications.directoryObject"],"summary":"Get the items of type microsoft.graph.user in the microsoft.graph.directoryObject collection","operationId":"applications.ListOwners.AsUser","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.userCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/owners/graph.user/$count":{"description":"Provides operations to count the resources in the collection.","get":{"tags":["applications.directoryObject"],"summary":"Get the number of the resource","operationId":"applications.Owners.GetCount.AsUser-c674","parameters":[{"name":"ConsistencyLevel","in":"header","description":"Indicates the requested consistency level. Documentation URL: https://docs.microsoft.com/graph/aad-advanced-queries","schema":{"type":"string"},"examples":{"example-1":{"description":"$search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.","value":"eventual"}}},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"}],"responses":{"2XX":{"$ref":"#/components/responses/ODataCountResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/synchronization":{"description":"Provides operations to manage the synchronization property of the microsoft.graph.application entity.","get":{"tags":["applications.synchronization"],"summary":"Get synchronization from applications","description":"Represents the capability for Microsoft Entra identity synchronization through the Microsoft Graph API.","operationId":"applications.GetSynchronization","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronization"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"put":{"tags":["applications.synchronization"],"summary":"Update the navigation property synchronization in applications","operationId":"applications.SetSynchronization","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronization"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronization"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.synchronization"],"summary":"Delete navigation property synchronization for applications","operationId":"applications.DeleteSynchronization","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/synchronization/jobs":{"description":"Provides operations to manage the jobs property of the microsoft.graph.synchronization entity.","get":{"tags":["applications.synchronization"],"summary":"Get jobs from applications","description":"Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.","operationId":"applications.synchronization.ListJobs","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"$ref":"#/components/parameters/filter"},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"$ref":"#/components/responses/microsoft.graph.synchronizationJobCollectionResponse"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-pageable":{"nextLinkName":"@odata.nextLink","operationName":"listMore"},"x-ms-docs-operation-type":"operation"},"post":{"tags":["applications.synchronization"],"summary":"Create new navigation property to jobs for applications","operationId":"applications.synchronization.CreateJobs","requestBody":{"description":"New navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronizationJob"}}},"required":true},"responses":{"2XX":{"description":"Created navigation property.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronizationJob"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"}]},"/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}":{"description":"Provides operations to manage the jobs property of the microsoft.graph.synchronization entity.","get":{"tags":["applications.synchronization"],"summary":"Get jobs from applications","description":"Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.","operationId":"applications.synchronization.GetJobs","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronizationJob"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.synchronization"],"summary":"Update the navigation property jobs in applications","operationId":"applications.synchronization.UpdateJobs","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronizationJob"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.synchronizationJob"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.synchronization"],"summary":"Delete navigation property jobs for applications","operationId":"applications.synchronization.DeleteJobs","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"synchronizationJob-id","in":"path","description":"The unique identifier of synchronizationJob","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"synchronizationJob"}]},"/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload":{"description":"Provides operations to manage the bulkUpload property of the microsoft.graph.synchronizationJob entity.","get":{"tags":["applications.synchronization"],"summary":"Get bulkUpload from applications","description":"The bulk upload operation for the job.","operationId":"applications.synchronization.jobs.GetBulkUpload","parameters":[{"name":"$select","in":"query","description":"Select properties to be returned","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}},{"name":"$expand","in":"query","description":"Expand related entities","style":"form","explode":false,"schema":{"uniqueItems":true,"type":"array","items":{"type":"string"}}}],"responses":{"2XX":{"description":"Retrieved navigation property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.bulkUpload"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"patch":{"tags":["applications.synchronization"],"summary":"Update the navigation property bulkUpload in applications","operationId":"applications.synchronization.jobs.UpdateBulkUpload","requestBody":{"description":"New navigation property values","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.bulkUpload"}}},"required":true},"responses":{"2XX":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/microsoft.graph.bulkUpload"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"delete":{"tags":["applications.synchronization"],"summary":"Delete navigation property bulkUpload for applications","operationId":"applications.synchronization.jobs.DeleteBulkUpload","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}},"x-ms-docs-operation-type":"operation"},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"name":"synchronizationJob-id","in":"path","description":"The unique identifier of synchronizationJob","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"synchronizationJob"}]},"/applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload/$value":{"description":"Provides operations to manage the media for the application entity.","get":{"tags":["applications.synchronization"],"summary":"Get media content for the navigation property bulkUpload from applications","description":"The bulk upload operation for the job.","operationId":"applications.synchronization.jobs.GetBulkUploadContent","responses":{"2XX":{"description":"Retrieved media content","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"put":{"tags":["applications.synchronization"],"summary":"Update media content for the navigation property bulkUpload in applications","description":"The bulk upload operation for the job.","operationId":"applications.synchronization.jobs.UpdateBulkUploadContent","requestBody":{"description":"New media content.","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}},"required":true},"responses":{"2XX":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"delete":{"tags":["applications.synchronization"],"summary":"Delete media content for the navigation property bulkUpload in applications","description":"The bulk upload operation for the job.","operationId":"applications.synchronization.jobs.DeleteBulkUploadContent","parameters":[{"name":"If-Match","in":"header","description":"ETag","schema":{"type":"string"}}],"responses":{"204":{"description":"Success"},"4XX":{"$ref":"#/components/responses/error"},"5XX":{"$ref":"#/components/responses/error"}}},"parameters":[{"name":"application-id","in":"path","description":"The unique identifier of application","required":true,"schema":{"type":"string"},"x-ms-docs-key-type":"application"},{"n
[...]
